
body {
    font-family: Helvetica;
    background-color: lightgray;
}



p {
    margin: 0;
    padding: 0;
}

.spacer {
    height: 5mm;
}

h2 {
    margin: 0;
}

/* IMPORTANT: REMOVE ALL PX MEASURMENTS!! */

div.headerWrap {
    background-color: rgb(128, 128, 128);
    margin: 10px;
    text-align: center;

}

div.headerTop {
    height: 60px;
    padding: 10px;
}





/* Navigation Bar */
div.headerBot {
    background-color: rgb(190, 190, 190);
    height: 40px;
}

.navBar {
    height: 40px;
}

.navBar a {
    color: rgb(26, 26, 26);
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.floatRight {
    float: right;
}

.navbar:hover a:hover {
    background-color: rgb(47, 0, 255);
}

.hoverRed:hover a:hover {
    background-color: rgb(218, 218, 218);
    height: 16px;
}

a:hover {
    color: rgb(56, 56, 56);
}
  /* End Navigation Bar */


/* Information Boxes */

.infoBox {
    background-color: rgb(238, 237, 237);
    margin: auto;
    width: 70%;
    border: solid 1mm;
    border-radius: 5mm;
    border-color: black;
    padding: 5mm;
}

.infoBoxWide {
    min-width: 10cm;
    max-width: 25cm;
}

.infoBoxNarrow {
    min-width: 5cm;
    max-width: 7cm;
}

.infoBoxMid {
    min-width: 5cm;
    max-width: 15cm;
}


/* TeamBuilder - Monster List */

/* Hide scrollbar for Chrome, Safari and Opera */
/*.scrollingList::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
/*.scrollingList {
    -ms-overflow-style: none;  /* IE and Edge */
/*    scrollbar-width: none;  /* Firefox */
/*  } */

.scrollingList {
    overflow: scroll;
    overflow-x: hidden;
    height: 7cm;
}



.TBMonsterList {
    padding: 1mm;
    font-size: 105%;
}

.TBSelected {
    border: black;
}

.TBMonsterList:hover {
    background-color: darkgrey;
}

#TeamBox {
    height: 6cm;
}

.TBMonsterTeam {
    padding: 1mm;
    font-size: 105%;
}

.TBMonsterTeamSelected {
    border: black;
}

.TBMonsterTeam:hover {
    background-color: darkgrey;
}

.isSelected {
    background-color: lightgray;
}