
body {
    font-family: Helvetica;
}

p {
    margin: 0;
    padding: 0;
}

.spacer {
    height: 5mm;
}

h2 {
    margin: 0;
}

/* IMPORTANT: REMOVE ALL PX MEASURMENTS!! */

div.headerWrap {
    background-color: rgb(128, 128, 128);
    margin: 10px;
    text-align: center;

}

div.headerTop {
    height: 60px;
    padding: 10px;
}





/* Navigation Bar */
div.headerBot {
    background-color: rgb(190, 190, 190);
    height: 40px;
}

.navBar {
    height: 40px;
}

.navBar a {
    color: rgb(26, 26, 26);
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.floatRight {
    float: right;
}

.navbar:hover a:hover {
    background-color: rgb(47, 0, 255);
}

.hoverRed:hover a:hover {
    background-color: rgb(218, 218, 218);
    height: 16px;
}

a:hover {
    color: rgb(56, 56, 56);
}
  /* End Navigation Bar */


/* Information Boxes */

.infoBox {
    margin: auto;
    width: 70%;
    border: solid 1mm;
    border-radius: 5mm;
    border-color: black;
    padding: 5mm;
}

.infoBoxWide {
    min-width: 10cm;
    max-width: 25cm;
}

.infoBoxNarrow {
    min-width: 5cm;
    max-width: 7cm;
}

.infoBoxMid {
    min-width: 5cm;
    max-width: 15cm;
}
